@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Mr+Dafoe&family=Oswald:wght@700&display=swap');

.hero {
  display: flex;
  align-items: stretch;
  position: relative;
  height: 100%;
  background: url("https://img.freepik.com/premium-photo/raw-meat-background-pieces-raw-steak-with-spices-herbs-rustic-table_220925-3448.jpg?w=1800") no-repeat center center;
  background-size: cover;
  min-width: 900px;
}
ion-card-content {
  display: inline-block;
}

.grid {
  align-items: center;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 50% 50%;

  padding-block: 2rem;
  width: min(95%, 70rem);
}
.grid-col-span-2 {
  grid-column: span 2;
}

ion-card-title {
  text-align: center;
  font-size: 33px;
  font-weight: 700;
  font-family: "Montserrat",sans-serif;
}

ion-card {
  width: 100%;
  max-width: 30rem;
  margin: 30px auto auto;
  border-radius: 10px;
  padding: 15px;
}
.grid-col-span-2 {
  grid-column: span 2;
}
ion-icon:hover {
  color: red;
  cursor: pointer;
}
