<ion-content>
  <section class="hero">
    <ion-card>
      <ion-card-content>
      <ion-icon name="arrow-back-outline" size="large" [routerLink]="['/login']"></ion-icon>
      <ion-card-title>Opret Dig</ion-card-title>
      <div class="grid">
        <ion-item>
          <ion-label position="floating">Fornavn</ion-label>
          <ion-input [formControl]="createNewUser.controls.firstName" placeholder="Indtast fornavn"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Efternavn</ion-label>
          <ion-input [formControl]="createNewUser.controls.lastName" placeholder="Indtast efternavn"></ion-input>
        </ion-item>

        <ion-item class="grid-col-span-2">
          <ion-label position="floating">Email</ion-label>
          <ion-input [formControl]="createNewUser.controls.email" type="email" placeholder="Indtast din email"></ion-input>
          <div *ngIf="createNewUser.controls.email.hasError('email') && (createNewUser.controls.email.dirty || createNewUser.controls.email.touched)">
            <ion-text color="danger">email format er forkert</ion-text>
          </div>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Adresse</ion-label>
          <ion-input [formControl]="createNewUser.controls.address" placeholder="Indtast din adresse"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Postnummer</ion-label>
          <ion-input [formControl]="createNewUser.controls.zip" placeholder="Indtast postnummer"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">By</ion-label>
          <ion-input [formControl]="createNewUser.controls.city" placeholder="Indtast By"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Land</ion-label>
          <ion-input [formControl]="createNewUser.controls.country" placeholder="Indtast Land"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Telefon</ion-label>
          <ion-input [formControl]="createNewUser.controls.phone" placeholder="Indtast dit telefon nr"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Adgangskode</ion-label>
          <ion-input [formControl]="createNewUser.controls.password" type="password" placeholder="Indtast din adgangskode"></ion-input>
          <div *ngIf="createNewUser.controls.password.hasError('minlength') && (createNewUser.controls.password.dirty || createNewUser.controls.password.touched)">
            <ion-text color="danger">Adgangskoden skal være mindst 8 tegn lang</ion-text>
          </div>
          <div *ngIf="createNewUser.controls.password.hasError('passwordRequirements') && (createNewUser.controls.password.dirty || createNewUser.controls.password.touched)">
            <ion-text color="danger">Adgangskoden skal indeholde mindst et stort bogstav, et lille bogstav, et tal og et specialtegn</ion-text>
          </div>
        </ion-item>

        <ion-button color="danger" class="grid-col-span-2" [disabled]="createNewUser.invalid" (click)="submit()"  shape="round">Opret Dig</ion-button>

        </div>
      </ion-card-content>

    </ion-card>
  </section>
</ion-content>

