@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Mr+Dafoe&family=Oswald:wght@700&display=swap');

ion-content {
  --background: #f5f5f5;
}

.hero {
  display: flex;
  align-items: stretch;
  position: relative;
  height: 255px;
  background: url("https://as2.ftcdn.net/v2/jpg/01/68/47/35/1000_F_168473569_HgQrDQf3bkvOHyl5wfwe8frlsAfUfagn.jpg") no-repeat center center;
  background-size: cover;
  min-width: 900px;
}
.hero__text-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.hero__text {
  color: #ffffff;
  text-align: center;
}
.hero__pre-heading {
  margin-bottom: 5px;
  font-size: 40px;
  line-height: 1;
  font-family: "Mr Dafoe", sans-serif;
}
.hero__heading {
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.layout {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 80%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}
.cart__cart {
  margin-bottom: 100px;
  border-collapse: collapse;
  width: 100%;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.cart__cart thead tr th {
  border-top: 1px dashed #979797;
  padding: 14px 40px 14px 0;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #333333;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.cart__items tr {
  border-top: 1px dashed #979797;
  border-bottom: 1px dashed #979797;
  height: 142px;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th {
  padding: 14px 40px 14px 0;

}
.cart__toolbar {
  height: 50px;
  border-bottom: 1px dashed #979797;
}
.cart__cart tfoot td {
  vertical-align: top;
}

.cart__footer-row td {
  font-weight: 500;
  color: #2b2b2b;
}
.cart__cart td {
  padding: 33px 0;
  vertical-align: middle;
  font-size: 14px;
}
.cart__footer-upsell {
  width: 70%;
}
.table_header {
  border-top: 1px dashed #979797;
  border-bottom: 1px dashed #979797;
}
.cart__grandtotal .price {
  font-size: 30px;
  vertical-align: middle;
  border-top: 1px dashed #979797;
  border-bottom: 1px dashed #979797 !important;
}
.kilo-input {
  padding-right: 15px;
  width: 4rem;
  border-radius: 15px;
  text-align: center;
}
.trash:hover {
  color: red;
  cursor: pointer;
}
