<ion-content class="ion-no-padding">
  <section class="hero">
    <div class="hero__text-container">
      <div class="hero__text">
        <div class="hero__pre-heading">Slagterens</div>
        <div class="hero__heading">Check out</div>
      </div>
    </div>
  </section>
  <div class="layout">
    <table class="cart__cart ">
      <tr class="table_header">
        <th colspan="2">Vare</th>
        <th class="cart__unit-price">Strykpris</th>
        <th class="quantity">Antal</th>
        <th class="totalPrice">Totalpris</th>
        <th class="cart__remove"></th>
      </tr>
      <tbody class="cart__items" >
      <tr class=" odd first" *ngFor="let cartItem of state.cartItems">
        <td class="cart__image-td">
          <div class="cart__image">
            <img [src]="cartItem.productImgUrl" width="115" alt="">
          </div>
        </td>
        <td class="cart__info">
          <div class="cart__product-name">
            <h3>{{ cartItem.productName }} </h3>
          </div>
        </td>
        <td class="cart__unit-price" [formControl]="price">{{ cartItem.pricePrKilo }} DKK/per kg </td>
        <td class="cart__quantity">
          <ion-input class="kilo-input" type="number" [value]="cartItem.quantity" min="0" max="100" placeholder="kg" [formControl]="quantity"></ion-input>
        </td>
        <td class="cart__order-item-total">{{ total | currency: 'DKK' }}</td>
        <td class="cart__remove">
          <ion-icon
            class="trash"
            name="trash-outline"
            size="medium"
            (click)="removeItem(cartItem.productId)"
          ></ion-icon>

        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr class="cart__toolbar">
        <td colspan="3" class="cart__toolbar-return">
          <a routerLink="/webshop">
            <ion-icon name="arrow-back-outline"></ion-icon>
            Tilbage til webshop
          </a>
        </td>
        <td colspan="3" class="cart__toolbar-update">
        </td>
      </tr>
      <tr class="cart__footer-row">
        <td colspan="6">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr class="cart__footer-container">
              <td class="cart__footer-upsell">
              </td>
              <td class="cart__footer-modifers">
                <table cellspacing="0" cellpadding="0" width="100%">
                  <tbody><tr class="cart__footer-row--first">
                    <th class="label ">Subtotal (inkl. moms)</th>
                    <td class="price ">0,00 DKK </td>
                  </tr>
                  <tr class=" cart__footer-row">
                    <th scope="label">
                      Moms 25.0%
                    </th>
                    <td class="price ">
                      0,00 DKK
                    </td>
                  </tr>


                  <tr class="cart__footer-row cart__footer-row--last cart__grandtotal">
                    <td class="price" colspan="2" id="">0,00 DKK </td>
                  </tr>

                  </tbody></table>

                <div class="cart__footer-button">

                  <ion-button [disabled]="isCartEmpty()" (click)="confirmOrder()">Fortsæt til checkout <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>


                </div>

              </td>
            </tr>
            </tbody></table>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</ion-content>
