<ion-content class="ion-no-padding">
  <section class="hero">
    <div class="hero__text-container">
      <div class="hero__text">
        <div class="hero__pre-heading"><img src="./../assets/icon/din_slagter_logo.png" width="410"><h1 class="hero__heading">Oplev kvalitetens smag direkte til din spisebord</h1></div>
      </div>
    </div>
  </section>
  <div class="info-label__container info-label__container--small">
    <div class="wrapper">
      <div class="info-label__list info-label__list--small ">
        <div class="info-label__item">
          <div class="info-label__icon"><ion-icon size="large" name="restaurant-outline"></ion-icon></div>
          <div>
            <div class="info-label__title">Friske produkter</div>
            <div class="info-label__text">Lavet til dig</div>
          </div>
        </div>
        <div class="info-label__item">
          <div class="info-label__icon"><ion-icon size="large" name="thermometer-outline"></ion-icon></div>
          <div>
            <div class="info-label__title">Hygiejnisk pakket</div>
            <div class="info-label__text">I kølede kasser</div>
          </div>
        </div>
        <div class="info-label__item">
          <div class="info-label__icon"><ion-icon size="large" name="storefront-outline"></ion-icon></div>
          <div>
            <div class="info-label__title">Leveret eller hent i butik</div>
            <div class="info-label__text">Levering 99,- ved køb over 599,-</div>
          </div>
        </div>
        <div class="info-label__item">
          <div class="info-label__icon"><ion-icon size="large" name="cube-outline"></ion-icon></div>
          <div>
            <div class="info-label__title">Bestil og hent straks</div>
            <div class="info-label__text">Dine varer er klar i butikken</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <main class="product__cta-container">
    <div class="wrapper">
      <div class="product__cta-pre-heading">Bestil nu</div>
      <h2 class="product__cta-heading">Afhent i din lokale butik </h2>

      <div class="product__slider">
        <div class="swiper-container-container">
          <div class="swiper-container swiper-container-initialized swiper-container-horizontal">

          </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
      </div>


      <div class="product__cta-link-holder">
        <ion-button color="danger" routerLink="/web-shop" class="product__cta-link">Se alle produkter</ion-button>
      </div>
  </main>
  <div class="footer__over">
    <div class="wrapper">
      <div class="grid">
        <div class="main__content s12 m6">
          <div class="footer__over-pre-heading">DIN SLAGTER</div>
          <div class="footer__over-heading">Madoplevelser siden 404</div>
          <p class="p1"><span class="s1">Siden 404 har Din Slagter – ja, det er os! – været stolt leverandør af himmelsk mad til restauranter, butikker og helt normale mennesker som dig. Vi taler selvfølgelig om slagtervarer af højeste kvalitet, som vi med stor entusiasme og et skævt smil sender direkte til din sultne mund. </span></p><p class="p1"><span class="s1">Vi garanterer, at vores kvalitet er så seriøs, at den ville tage en vigtig forretningsmiddag alvorligt, men vi gør det med et glimt i øjet. Hvert produkt, vi sælger, er nøje udvalgt, og selv vores kødpølser har et fantastisk sans for humor. Vi står altid klar til at hjælpe dig med vejledning eller en god joke - vi er din lokale slagter med en snert af skæg og ballade. Velkommen til Din Slagter, hvor kvalitet møder et glimt i øjet!</span></p>
        </div>

        <div class="main__content-images main__content-images--no-pad s12 m6 footer__over-image-holder">
          <div class="main__content-image main__content-image footer__over-image">
            <img src="https://img.freepik.com/free-photo/cheerful-butcher-workwear-holding-box-with-meat-pieces-while-standing-midst-meat-carcasses_613910-21680.jpg?w=996&t=st=1703025180~exp=1703025780~hmac=86bb650ab9875c137c4c884d79d433eba78369ab9aad63e23087dcee22d0a0d2">
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>
