<ion-content class="ion-no-padding">
  <section class="hero">
    <div class="hero__text-container">
      <div class="hero__text">
        <div class="hero__pre-heading">Slagterens</div>
        <div class="hero__heading">Webshop</div>
      </div>
    </div>
  </section>
  <div class="category__wrapper wrapper">
    <aside class="category__sidebar">
      <ion-list-header class="category__sidebar-heading">Produkter</ion-list-header>
      <ion-list lines="none" class="category__sidebar-list">
        <ion-item class="category__sidebar-list-item link" href="" *ngFor="let productType of state.productTypes">{{productType.typeName}}</ion-item>
      </ion-list>
    </aside>

    <main class="main category__main">
      <h1 class="category__heading alt smaller">Webshop</h1>
      <ion-grid style="margin-bottom: 150px">
        <ion-row>
          <ion-card style="flex: 1 1 25%" *ngFor="let product of state.products">
            <img alt="{{ product.productName }}" [src]="product.imgUrl" />
            <ion-card-header>
              <ion-card-title>{{ product.productName }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ product.description }}
            </ion-card-content>
              <div class="card-bottom">
                <div class="price">
                  <p>kr. pr kg</p>
                  <ion-text>{{ product.pricePrKilo }} </ion-text>
                </div>
                <ion-button [routerLink]="['/details', product.productId]">Se mere  <ion-icon name="return-down-forward-outline"></ion-icon></ion-button>
              </div>
          </ion-card>
        </ion-row>
      </ion-grid>
    </main>
  </div>
</ion-content>
