<ion-content class="ion-no-padding">
  <section class="hero">
    <div class="hero__text-container">
      <div class="hero__text">
        <div class="hero__pre-heading">Slagterens</div>
        <div class="hero__heading">Customer List</div>
      </div>
    </div>
  </section>

  <div class="category__wrapper wrapper">
    <aside class="category__sidebar">
      <ion-list-header class="category__sidebar-heading">Bruger</ion-list-header>
      <ion-list lines="none" class="category__sidebar-list">
        <ion-item-sliding>
          <ion-item class="category__sidebar-list-item link" routerLink="">Kunde</ion-item>
          <ion-item class="category__sidebar-list-item link" routerLink="">Administrator</ion-item>
        </ion-item-sliding>

      </ion-list>
    </aside>

    <main class="main category__main">
      <ion-list [inset]="true">
        <ion-item-sliding *ngFor="let user of state.users">
          <ion-item [button]="true"  >
            <ion-avatar aria-hidden="true" slot="start">
              <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>
              <strong>{{user.firstName}} {{user.lastName}}</strong>
              <ion-text>Bruger type: {{user.role}}</ion-text><br />
              <ion-text>Email: {{user.email}}</ion-text><br />
              <ion-text>Tel: {{user.phone}}</ion-text><br />
              <ion-note color="medium" class="ion-text-wrap">
                Adresse: {{user.address}}, {{user.zip}} {{user.city}} {{user.country}}
              </ion-note>
            </ion-label>
            <div class="toolBelt" slot="end">
              <div>
                <ion-icon size="large" name="build-outline"></ion-icon>
                <ion-icon size="large" name="trash-outline" (click)="deleteUser(user.userId)"></ion-icon>
              </div>
            </div>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </main>
  </div>
</ion-content>
