<ion-content class="ion-no-padding">
  <section class="hero">
    <div class="hero__text-container">
      <div class="hero__text">
        <div class="hero__pre-heading">Slagterens</div>
        <div class="hero__heading">Customer</div>
      </div>
    </div>
  </section>

  <div class="category__wrapper wrapper">
    <aside class="category__sidebar">
      <ion-list-header class="category__sidebar-heading">Produkter</ion-list-header>
      <ion-list lines="none" class="category__sidebar-list">
        <ion-item-sliding>
          <ion-item class="category__sidebar-list-item link" href="/webshop/oksekod/">Oksekød</ion-item>
          <ion-item class="category__sidebar-list-item link" href="/webshop/svinekod/">Svinekød</ion-item>
        </ion-item-sliding>

      </ion-list>
    </aside>

    <main class="main category__main">
      <ion-list [inset]="true">
        <ion-item-sliding *ngFor="let customer of state.customers">
          <ion-item [button]="true">
            <ion-avatar aria-hidden="true" slot="start">
              <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>{{customer.firstName}} {{customer.lastName}}</ion-label>
            <p>{{customer.email}}</p>
          </ion-item>
          <ion-item-options slot="end">
            <ion-item-option color="warning">
              <ion-icon slot="icon-only" name="pin"></ion-icon>
            </ion-item-option>
            <ion-item-option color="tertiary">
              <ion-icon slot="icon-only" name="share"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" expandable="true">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </main>
  </div>
</ion-content>
