@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

ion-header {
  min-height: 90px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}
ion-title {
  font-family: "Montserrat", sans-serif;
  font-size: 33px;
}
ion-icon {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  padding: 10px;
}

ion-toolbar {
  align-items: center;

}
.logo {
  margin-left: 2%;
  margin-right: 2%;
}
.search {
 width: 500px;
}
