<ion-header [translucent]="true">
  <ion-toolbar class="logo">
    <div class="logo-container">
      <img src="./../assets/icon/din_slagter_logo.png" height="79" width="82" alt="din slagter logo">
      <ion-title slot="secondary">Dig Slagter</ion-title>
    </div>
  </ion-toolbar>
  <ion-toolbar class="search">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar class="icon">
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon size="large" name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon size="large" name="key-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
