<div class="header mmenu__fixed">
  <div class="wrapper">
    <div class="header__logo">
      <a routerLink="/home">
        <img src="./../assets/icon/din_slagter_logo.png" height="80" alt="din slagter logo">
      </a>
    </div>
    <div class="header__navigation">
      <div >
        <ul class="header__menu">
          <li>
            <a class="nav" routerLink="/webshop">Webshop</a>
          </li>
          <li>
            <a class="nav" routerLink="/om-os">Om os</a>
          </li>
        </ul>
      </div>
      <div class="header__icons">
        <a routerLink="/login"><ion-icon size="large" name="lock-closed-outline"></ion-icon></a>
        <a routerLink="/inbox"><ion-icon size="large" name="mail-outline"></ion-icon></a>
        <a routerLink="/check-out"><ion-icon size="large" name="cart-outline"></ion-icon></a>
      </div>
    </div>
  </div>
</div>
