<div class="header mmenu__fixed">
  <div class="wrapper">
    <div class="header__logo">
      <a routerLink="/home">
        <img src="./../assets/icon/din_slagter_logo.png" height="80" alt="din slagter logo">
      </a>
    </div>
    <div class="header__navigation">
      <div >
        <ul class="header__menu">
          <li>
            <a class="nav" routerLink="/web-shop">Webshop</a>
          </li>
          <li>
            <a class="nav" routerLink="/om-os">Om os</a>
          </li>
        </ul>
      </div>
      <div class="header__icons">
        <ion-icon *ngIf="isAdmin()" routerLink="/add-product" size="large" name="add-outline"></ion-icon>
        <ion-icon routerLink="/login" size="large" name="lock-closed-outline"></ion-icon>
        <ion-icon *ngIf="isAdmin()" routerLink="/list-customer" size="large" name="list-outline"></ion-icon>
        <ion-icon routerLink="/check-out" size="large" name="cart-outline"></ion-icon>
      </div>
    </div>
  </div>
</div>
