@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.header {
  background: #F8FBFC;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.wrapper {
  height: 80px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 auto;
  width: 1170px;
  max-width: 100%;
  padding: 0 15px;
}
.header__navigation {
  display: flex;
  align-items: stretch;
  margin-left: auto;
  width: fit-content;
}
.header__logo {
  display: flex;
  width: fit-content;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 33px;
}
.header__icons {
  display: flex;
  margin-left: 30px;
  align-items: center;
  gap: 1rem;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-bottom: 5px solid transparent;
  font-size: 24px;
  font-weight: 700;
}
.nav {
  color: #2d2d2d;
  :hover {
    background-color: #660000;
    border-bottom: 3px;
    border-bottom-color: #660000;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
