<ion-content>
  <section class="hero">
    <ion-card style="margin-top: 50px">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Log in</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [formControl]="loginForm.controls.email" placeholder="Indtast din Email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [formControl]="loginForm.controls.password" type="password" placeholder="Indtast dit password"></ion-input>
        </ion-item>

        <ion-button color="danger" (click)="submit()" shape="round" [routerLink]="['/home']">Log In</ion-button>
      </ion-card-content>

      <ion-label class="ion-text-center">
        Don't have an account? <a [routerLink]="['/signup']">Sign Up</a>
      </ion-label>

    </ion-card>
  </section>
</ion-content>
