<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-label style="align-content: center" id=".InfoLabel">
        Opret nyt produkt
      </ion-label>
      <ion-item>
        <ion-label position="floating">Produkt Navn</ion-label>
        <ion-input placeholder="Produkt Navn"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Pris /kg</ion-label>
        <ion-input placeholder="pris /kg"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Beskrivelse</ion-label>
        <ion-input placeholder="Produkt Navn"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Oprindelse</ion-label>
        <ion-input placeholder="Hvor dyret fra"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Produceret I</ion-label>
        <ion-input placeholder="Indtast et land"></ion-input>
      </ion-item>

      <ion-item class=".item">
        <ion-label position="floating">Mindt holdbar efter køb</ion-label>
        <ion-input placeholder="pris /kg"></ion-input>
      </ion-item>

      <ion-list class=".list">
        <ion-item>
          <ion-select placeholder="Vælg Produkt Type">
            <div slot="label">Produkt Type <ion-text color="danger"></ion-text></div>
            <ion-select-option value="apple">Oksekød</ion-select-option>
            <ion-select-option value="banana">Gris</ion-select-option>
            <ion-select-option value="orange">Pølser</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-button class=".button" shape="round" [routerLink]="['/home']"> Opret </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
