@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Mr+Dafoe&family=Oswald:wght@700&display=swap');

.hero {
  display: flex;
  align-items: stretch;
  position: relative;
  height: 100px;
  background: url("https://as2.ftcdn.net/v2/jpg/01/68/47/35/1000_F_168473569_HgQrDQf3bkvOHyl5wfwe8frlsAfUfagn.jpg") no-repeat center center;
  background-size: cover;
  min-width: 900px;
}
.wrapper {
  margin: 0 auto;
  width: 1170px;
  max-width: 100%;
  padding: 15px 15px;
}
.product__row {
  display: flex;
  justify-content: space-between;
}
.product__content {
  flex: 1;
}
.product__imagecontainer {
  display: block;
  width: 50.87719%;
  margin: 0 4.82456% 0 0;
}
.product__image {
  position: relative;
  width: 580px;
  max-width: 100%;
}
.product__image img {
  display: block;
  border: 18px solid #fff;
  box-shadow: -2px -2px 4px rgba(0,0,0,0.2), 0px 2px 4px rgba(0,0,0,0.15);
  width: 100%;
}
.product__price {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}
h1.alt, .alt.footer__over-heading, .alt.employee__heading, .alt.product__cta-heading, .alt.modal__headline {
  font-weight: 700;
  font-family: "Montserrat",sans-serif;
  text-transform: none;
}
.product__content h1, .product__content .footer__over-heading, .product__content .employee__heading, .product__content .product__cta-heading, .product__content .modal__headline {
  margin-bottom: 20px;
}

h1.smaller, .smaller.footer__over-heading, .smaller.employee__heading, .smaller.product__cta-heading, .smaller.modal__headline {
  font-size: 33px;
}
.product__addtocart-form form {
  display: flex;
  align-items: center;
}
form, .form__fake {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: -5px 0;
  width: 100%;
}
.product__short-description {
  font-size: 16px;
  line-height: 1.6;
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  color: #454545;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 11px;
}
