@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

ion-content {
  --background: #f5f5f5;
}

.hero {
  display: flex;
  align-items: stretch;
  position: relative;
  height: 100px;
  background: url("https://as2.ftcdn.net/v2/jpg/01/68/47/35/1000_F_168473569_HgQrDQf3bkvOHyl5wfwe8frlsAfUfagn.jpg") no-repeat center center;
  background-size: cover;
  min-width: 900px;
}
.wrapper {
  margin: 0 auto;
  width: 1170px;
  max-width: 100%;
  padding: 15px 15px;
}
.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 50% 50%;

  padding-block: 2rem;
  width: min(95%, 70rem);
  padding-bottom: 80px;
}
.product__image {
  position: relative;
  width: 580px;
  max-width: 100%;
}
.product__image img {
  display: block;
  border: 18px solid #fff;
  box-shadow: -2px -2px 4px rgba(0,0,0,0.2), 0px 2px 4px rgba(0,0,0,0.15);
  width: 100%;
}
.product__price {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}
h1 {
  font-weight: 700;
  font-family: "Montserrat",sans-serif;
  text-transform: none;
}
h1 {
  margin-bottom: 20px;
  font-size: 33px;
}

.product__short-description {
  font-size: 16px;
  line-height: 1.6;
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  color: #454545;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 11px;
}
.product__addtocart {
  display: flex;
  align-content: center;
  gap: 2rem;
  height: fit-content;
  width: 100%;
}
.kilo-input {
  border-radius: 15px;
  text-align: center;
}
.product-information {
  background: #ffffff;
  grid-column: span 2;
  display: block;
  border: 18px solid #fff;
  box-shadow: -2px -2px 4px rgba(0,0,0,0.2), 0px 2px 4px rgba(0,0,0,0.15);
  width: 100%;
}
h3 {
  font-size: 20px;
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
}
