<ion-content class="ion-no-padding">
  <section class="hero"></section>

  <div class="wrapper" >
    <main class="main">
      <div class="grid">
        <div class="product__imagecontainer">
          <div class="product__image">
            <img width="540" height="350" [src]="product?.imgUrl">
          </div>
        </div>
        <div class="product__content">
          <h1 class="alt smaller">{{product?.productName}}</h1>
          <div class="product__short-description">
            <p>{{ product?.description }}</p>
          </div>
          <div class="product__price">
            <div class="price" data-price="259.95">
              <span class="value">{{product?.pricePrKilo}} DKK/per kg </span>
            </div>
          </div>
          <div class="product__addtocart">
            <input [formControl]="amount"
              type="number"
              class="kilo-input"
              value="1"
              min="0"
              max="100"
            />
            <p class="product__short-description">kg</p>
            <ion-button *ngIf="product" (click)="onAddToCart(product, amount)">
              Læg i kurv <ion-icon name="cart-outline"></ion-icon>
            </ion-button>

          </div>
        </div>
        <div class="product-information">
          <h3>Produkt information</h3>
          <div>
            <p>Varenummer: {{product?.productNumber}}</p>
            <p>Opdragelses i: {{product?.countryOfBirth}}</p>
            <p>Slagtet i: {{product?.productionCountry}}</p>
            <p>Forventet holdbarhed: {{product?.minExpDate}} dage</p>
          </div>
        </div>
      </div>
    </main>
  </div>
</ion-content>
