<ion-content class="ion-no-padding">
  <section class="hero"></section>

  <div class="wrapper">
    <main class="main">
      <div class="grid">
        <div class="product__imagecontainer">
          <div class="product__image">
            <img width="540" height="350" src="https://www.slagtertheilgaard.dk/assets/Uploads/69a53986f4/Oksefars-til-plakat__FocusFillWzU0MCwzNTAsInkiLDVd.jpg">
          </div>
        </div>
        <div class="product__content">
          <h1 class="alt smaller">Culottesteg Angus m. rødvinsmarinade</h1>
          <div class="product__short-description">
            <p>Culottesteg fra Anguskvæg..</p>
          </div>
          <div class="product__price">
            <div class="price" data-price="259.95">
              <span class="value">259,95 DKK/per kg </span>
            </div>
          </div>
          <div class="product__addtocart">
            <input
              type="number"
              class="kilo-input"
              value="1"
              min="0"
              max="100"
            />
            <p class="product__short-description">kg</p>
            <ion-button>Læg i kurv <ion-icon name="cart-outline"></ion-icon></ion-button>
          </div>
        </div>
        <div class="product-information">
          <h3>Produkt information</h3>
          <div>
            <p>Varenummer:</p>
            <p>Opdragelses i:</p>
            <p>Slagtet i:</p>
            <p>Forventet holdbarhed:  dage</p>
          </div>
        </div>
      </div>
    </main>
  </div>
</ion-content>
