<ion-content class="ion-no-padding">
  <section class="hero">
    <ion-card>
      <ion-card-content>
        <ion-card-title>Tilført Produkt</ion-card-title>
        <div class="grid">
          <ion-item>
            <ion-input label="Produkt Navn" label-placement="floating" [formControl]="createNewProductForm.controls.productName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Varenummer" label-placement="floating" [formControl]="createNewProductForm.controls.productNumber" type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Oprindelse" label-placement="floating" [formControl]="createNewProductForm.controls.countryOfBirth" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Kilopris" label-placement="floating" [formControl]="createNewProductForm.controls.pricePrKilo" type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Produceret I" label-placement="floating" [formControl]="createNewProductForm.controls.productionCountry" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Holdbarhed i dage" label-placement="floating" [formControl]="createNewProductForm.controls.minExpDate" type="number" placeholder="antal dage"></ion-input>
          </ion-item>

          <ion-item class="grid-col-span-2">
            <ion-textarea label="Beskrivelse" label-placement="floating" [formControl]="createNewProductForm.controls.description" ></ion-textarea>
          </ion-item>

          <ion-item class="grid-col-span-2">
            <ion-input label="Billede til webshop" label-placement="floating" [formControl]="createNewProductForm.controls.imgUrl" type="url"></ion-input>
          </ion-item>

          <ion-list>
            <ion-item>
              <ion-select label="Produkt Type"
                          label-placement="floating"
                          [formControl]="createNewProductForm.controls.productType"
                          interface="popover"
                          (ionChange)="onProductTypeChange($event)"
              >
                <ion-select-option *ngFor="let productType of state.productTypes" value="{{productType.typeId}}">{{ productType.typeName }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-button class="grid-col-span-2" (click)="submit()" id="add-product" shape="round" > Opret Produktet </ion-button>

        </div>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
